/* General Styling */

* {
    box-sizing: border-box;
}

body {
    background: url("../images/houses.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

#logoImage {
    width: 100%;
    height: auto;
}

#answerOptions > div {
    margin-bottom: 15px;
}

#gameDiv {
    margin: auto;
    float: none;
    margin-bottom: 10px;
}

#startDiv {
    margin-top: 30px;
}

.fontstyle {
    font-family: 'Acme', sans-serif;
}

#endingStatDiv {
    font-size: 2em;
    background: white;
    margin-left: auto;
    margin-right: auto;
}

#startOverButton {
    margin-bottom: 20px;
}