/* General Styling */

* {
    box-sizing: border-box;
}

body {
    background: url("../images/oldwallpaper.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#answerOptions > div {
    margin-bottom: 15px;
}

#gameDiv {
    margin: auto;
    float: none;
    margin-bottom: 10px;
}

#startDiv {
    margin-top: 140px;
}

.fontstyle {
    font-family: 'Acme', sans-serif;
}

#endingStatDiv {
    font-size: 2em;
}


/* #gameWindow {
    background: white;
    border-radius: 20px;
} */